USE [Sis2000]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================================
-- Author:      Claude (refactor-policy-emission-flow)
-- Create date: 2026-10-01
-- Description: Capa intermedia (staging) exclusiva para polizas COLECTIVAS de
--              Personas. Resuelve ramo y vigencia contra pcplanes (nunca contra
--              maplanes_per), valida edades del grupo contra pcasegurados y
--              enruta siempre hacia sp_emision_Personas_General indicando
--              @itipopol = 'C', dejando el flujo individual intacto.
-- ============================================================================
CREATE OR ALTER PROCEDURE [dbo].[sp_pre_emision_Personas_General_Colectivo]
	@id int = NULL OUTPUT,
	@cnpoliza_rel varchar(30) = NULL,
	@cplan varchar(10) = NULL,
	@cramo int = NULL,
	@xcanal_venta varchar(250) = NULL,
	@icedula_tomador char(1) = NULL,
	@xrif_tomador numeric(9) = NULL,
	@xnombre_tomador varchar(250) = NULL,
	@xapellido_tomador varchar(250) = NULL,
	@isexo_tomador char(1) = NULL,
	@iestado_civil_tomador char(1) = NULL,
	@fnac_tomador datetime = NULL,
	@cestado_tomador varchar(100) = NULL,
	@cciudad_tomador varchar(100) = NULL,
	@xdireccion_tomador varchar(1000) = NULL,
	@xtelefono_tomador varchar(250) = NULL,
	@xcorreo_tomador varchar(250) = NULL,
	@icedula_titular char(1) = NULL,
	@xrif_titular numeric(9) = NULL,
	@xnombre_titular varchar(250) = NULL,
	@xapellido_titular varchar(250) = NULL,
	@isexo_titular char(1) = NULL,
	@iestado_civil_titular char(1) = NULL,
	@fnac_titular datetime = NULL,
	@cestado_titular varchar(100) = NULL,
	@cciudad_titular varchar(100) = NULL,
	@xdireccion_titular varchar(1000) = NULL,
	@xtelefono_titular varchar(250) = NULL,
	@xcorreo_titular varchar(250) = NULL,
	@cpersona_politica char(1) = NULL,
	@cterm_y_cod char(1) = NULL,
	@cdiagnos_enferm char(1) = NULL,
	@xdiagnos_enferm varchar(1000) = NULL,
	@cproductor int = NULL,
	@ptasamon numeric(18, 6) = NULL,
	@cmoneda char(4) = NULL,
	@msumaaseg numeric(18, 2) = NULL,
	@mprimaext numeric(18, 2) = NULL,
	@ifrecuencia char(1) = NULL,
	@femision datetime = NULL,
	@fdesde date = NULL,
	@fhasta date = NULL,
	@corigen_rel CHAR(2) = NULL,
	@api varchar(100) = NULL,
	@method varchar(100) = NULL,
	@cprog char(20) = NULL,
	@ifuente char(10) = NULL,
	@fingreso datetime = NULL,
	@cpoliza NUMERIC(19) = NULL OUTPUT,
	@cnpoliza varchar(30) = NULL OUTPUT,
	@cproces NUMERIC(13) = NULL OUTPUT,
	@ccanalalt int = NULL,
	@cscanalalt int = NULL,
	@ctipocanal CHAR(1) = NULL,
	@asegurados NVARCHAR(MAX) = NULL,
	@beneficiarios NVARCHAR(MAX) = NULL
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE
		@POL_RAMO VARCHAR(20), @cnrecibo varchar(50), @crecibo numeric(19), @csucur int,
		@cramoint int, @error VARCHAR(400), @fueraDeRango INT,
		@tplCpoliza NUMERIC(19, 0), @tplFanopol SMALLINT, @tplFmespol TINYINT, @tplFdesde DATETIME

	-- Normalizacion de productor "directo"
	IF ISNULL(@cproductor, 0) = 0 BEGIN
		SELECT @cproductor = 80080
	END

	-- Resolucion de ramo y plantilla vigente SIEMPRE via pcplanes (vigencia de la configuracion colectiva)
	SELECT TOP 1
		@cramo = ISNULL(@cramo, p.cramo),
		@tplCpoliza = p.cpoliza, @tplFanopol = p.fanopol, @tplFmespol = p.fmespol, @tplFdesde = p.fdesde
	FROM dbo.pcplanes p WITH (NOLOCK)
	WHERE p.cplan = @cplan AND p.iestado = 'V'
	ORDER BY p.fdesde DESC

	IF @tplCpoliza IS NULL
	BEGIN
		SET @error = 'El plan colectivo enviado no se encuentra configurado (vigente) en pcplanes.'
		;THROW 51010, @error, 1;
	END

	-- Ramo tecnico interno: toda evaluacion de linea de negocio se hace por cramoint, nunca por cramo directo
	SELECT @cramoint = cramoint FROM dbo.maramos WITH (NOLOCK) WHERE cramo = @cramo

	IF @cramoint IS NULL
	BEGIN
		SET @error = 'El ramo del plan colectivo no posee cramoint configurado en maramos.'
		;THROW 51011, @error, 1;
	END

	-- Fechas: nunca se asumen por defecto si la capa intermedia no las envio
	IF @femision IS NULL OR @fdesde IS NULL OR @fhasta IS NULL
	BEGIN
		SET @error = 'Debe suministrar femision, fdesde y fhasta; no se asumen valores por defecto en pólizas colectivas.'
		;THROW 51012, @error, 1;
	END

	-- Moneda: no se hereda del plan, debe venir validada desde la capa intermedia
	IF @cmoneda IS NULL
	BEGIN
		SET @error = 'Debe suministrar cmoneda ya validada desde la capa intermedia; no se hereda del plan.'
		;THROW 51013, @error, 1;
	END

	IF @icedula_tomador IS NULL SET @icedula_tomador = 'V'
	IF @icedula_titular IS NULL SET @icedula_titular = 'V'
	IF @xrif_tomador IS NULL SET @xrif_tomador = @xrif_titular

	-- Asignacion de sucursal: nunca se consulta macanalalt.csucur
	IF @ccanalalt IS NOT NULL
	BEGIN
		-- Canales alternativos: siempre receptora la sucursal principal (Mundial de Seguros)
		SET @csucur = 1
	END
	ELSE
	BEGIN
		-- Canal tradicional (emision propia): se respeta la sucursal asociada al productor
		SELECT @csucur = COALESCE(csucur, 1) FROM dbo.maproduc WITH (NOLOCK) WHERE cproductor = @cproductor
	END

	IF (@cramoint = 1)      SELECT @POL_RAMO = 'POL_VIDA'
	ELSE IF (@cramoint = 2) SELECT @POL_RAMO = 'POL_ACC'
	ELSE IF (@cramoint = 3) SELECT @POL_RAMO = 'POL_SALUD'
	ELSE IF (@cramoint = 4) SELECT @POL_RAMO = 'POL_FUN'
	ELSE                    SELECT @POL_RAMO = 'POLIZA'

	-- Numeracion oficial de poliza/recibo/proceso (no se sobreescribe manualmente)
	EXEC dbo.spContador_v1 @cpoliza OUTPUT, @cnpoliza OUTPUT, @crecibo OUTPUT, @cnrecibo OUTPUT, @cproces OUTPUT, @csucur, @fdesde, @cramo, @POL_RAMO

	BEGIN TRANSACTION;
	BEGIN TRY
		INSERT INTO dbo.TMEMISION_PERSONAS_GENERAL
		(
			cnpoliza_rel, cplan, cramo, xcanal_venta, icedula_tomador,
			xrif_tomador, xnombre_tomador, xapellido_tomador, isexo_tomador, iestado_civil_tomador, fnac_tomador, cestado_tomador,
			cciudad_tomador, xdireccion_tomador, xtelefono_tomador, xcorreo_tomador, icedula_titular, xrif_titular, xnombre_titular,
			xapellido_titular, isexo_titular, iestado_civil_titular, fnac_titular, cestado_titular, cciudad_titular,
			xdireccion_titular, xtelefono_titular, xcorreo_titular,
			cpersona_politica, cterm_y_cod, cdiagnos_enferm, xdiagnos_enferm,
			cproductor, ptasamon, cmoneda, msumaaseg, mprimaext, ifrecuencia, femision, fdesde, fhasta,
			corigen_rel, api, method, cprog,
			ifuente, fingreso, cpoliza, cnpoliza, cproces, ccanalalt, cscanalalt, ctipocanal, iestado, xestado, xlog
		)
		SELECT
			@cnpoliza_rel, @cplan, @cramo, @xcanal_venta, @icedula_tomador,
			@xrif_tomador, @xnombre_tomador, @xapellido_tomador, @isexo_tomador, @iestado_civil_tomador, @fnac_tomador,
			@cestado_tomador, @cciudad_tomador, @xdireccion_tomador, @xtelefono_tomador, @xcorreo_tomador, @icedula_titular,
			@xrif_titular, @xnombre_titular, @xapellido_titular, @isexo_titular, @iestado_civil_titular, @fnac_titular,
			@cestado_titular, @cciudad_titular, @xdireccion_titular, @xtelefono_titular, @xcorreo_titular,
			@cpersona_politica, @cterm_y_cod, @cdiagnos_enferm, @xdiagnos_enferm,
			@cproductor, @ptasamon, @cmoneda, @msumaaseg,
			@mprimaext, @ifrecuencia, @femision, @fdesde, @fhasta,
			@corigen_rel, @api, @method, @cprog,
			@ifuente, @fingreso, @cpoliza, @cnpoliza, @cproces, @ccanalalt, @cscanalalt, @ctipocanal, 0, 'REGISTRADO', NULL

		SET @id = SCOPE_IDENTITY()

		-- ASEGURADOS DEL GRUPO: titular (nparentesco_asegurado = 0) y sus dependientes (nparentesco_asegurado > 0)
		IF (@asegurados IS NOT NULL AND ISJSON(@asegurados) = 1)
		BEGIN
			INSERT INTO dbo.TMEMISION_PERSONAS_GENERAL_ASEG
			(
				id, nasegurado, cnpoliza, cramo, cplan,
				icedula_asegurado, xrif_asegurado, xnombre_asegurado, xapellido_asegurado,
				isexo_asegurado, iestado_civil_asegurado, fnac_asegurado, cestado_asegurado,
				cciudad_asegurado, xdireccion_asegurado, xtelefono_asegurado, xcorreo_asegurado,
				nparentesco_asegurado, npeso_asegurado, nestatura_asegurado
			)
			SELECT
				@id,
				ROW_NUMBER() OVER (ORDER BY TRY_CONVERT(INT, j.[key]), j.[key]),
				@cnpoliza, @cramo, @cplan,
				COALESCE(a.tipo_cedula_asegurado_v1, a.tipo_cedula_asegurado_v2, 'V'),
				COALESCE(a.rif_asegurado_v1, a.rif_asegurado_v2),
				COALESCE(a.nombre_asegurado_v1, a.nombre_asegurado_v2),
				COALESCE(a.apellido_asegurado_v1, a.apellido_asegurado_v2),
				COALESCE(a.sexo_asegurado_v1, a.sexo_asegurado_v2),
				COALESCE(a.estado_civil_asegurado_v1, a.estado_civil_asegurado_v2),
				a.fnac_asegurado,
				a.estado_asegurado,
				a.ciudad_asegurado,
				a.direccion_asegurado,
				a.telefono_asegurado,
				a.correo_asegurado,
				a.nparentesco_asegurado,
				a.npeso_asegurado,
				a.nestatura_asegurado
			FROM OPENJSON(
				CASE WHEN LEFT(LTRIM(@asegurados), 1) = '[' THEN @asegurados ELSE CONCAT('[', @asegurados, ']') END
			) j
			CROSS APPLY OPENJSON(j.value)
			WITH
			(
				tipo_cedula_asegurado_v1  char(1)        '$.tipo_cedula_asegurado',
				rif_asegurado_v1          numeric(11, 0) '$.rif_asegurado',
				nombre_asegurado_v1       varchar(250)   '$.nombre_asegurado',
				apellido_asegurado_v1     varchar(250)   '$.apellido_asegurado',
				sexo_asegurado_v1         char(1)        '$.sexo_asegurado',
				estado_civil_asegurado_v1 char(1)        '$.estado_civil_asegurado',

				tipo_cedula_asegurado_v2  char(1)        '$.icedula_asegurado',
				rif_asegurado_v2          numeric(11, 0) '$.xrif_asegurado',
				nombre_asegurado_v2       varchar(250)   '$.xnombre_asegurado',
				apellido_asegurado_v2     varchar(250)   '$.xapellido_asegurado',
				sexo_asegurado_v2         char(1)        '$.isexo_asegurado',
				estado_civil_asegurado_v2 char(1)        '$.iestado_civil_asegurado',

				fnac_asegurado            date           '$.fnac_asegurado',
				estado_asegurado          INT            '$.estado_asegurado',
				ciudad_asegurado          INT            '$.ciudad_asegurado',
				direccion_asegurado       varchar(1000)  '$.direccion_asegurado',
				telefono_asegurado        varchar(250)   '$.telefono_asegurado',
				correo_asegurado          varchar(250)   '$.correo_asegurado',
				nparentesco_asegurado     INT            '$.nparentesco_asegurado',
				npeso_asegurado           numeric(6, 2)  '$.npeso_asegurado',
				nestatura_asegurado       numeric(8, 2)  '$.nestatura_asegurado'
			) a
		END

		-- Validacion preventiva de edades del grupo (titular y dependientes) contra la matriz de elegibilidad pcasegurados
		IF EXISTS (SELECT 1 FROM dbo.pcasegurados WITH (NOLOCK) WHERE cpoliza = @tplCpoliza AND fanopol = @tplFanopol AND fmespol = @tplFmespol)
		BEGIN
			SELECT @fueraDeRango = COUNT(1)
			FROM dbo.TMEMISION_PERSONAS_GENERAL_ASEG a WITH (NOLOCK)
			WHERE a.id = @id
			  AND NOT EXISTS (
					SELECT 1
					FROM dbo.pcasegurados pa WITH (NOLOCK)
					WHERE pa.cpoliza = @tplCpoliza AND pa.fanopol = @tplFanopol AND pa.fmespol = @tplFmespol
					  AND pa.csexo = a.isexo_asegurado
					  AND DATEDIFF(YEAR, a.fnac_asegurado, @femision) BETWEEN pa.cedad_as_mn AND pa.cedad_as_mx
			  )

			IF ISNULL(@fueraDeRango, 0) > 0
			BEGIN
				SET @error = CONCAT('Existen ', @fueraDeRango, ' asegurado(s) del grupo fuera del rango de edad permitido (pcasegurados) para este plan colectivo.')
				;THROW 51014, @error, 1;
			END
		END

		-- Beneficiarios declarados de forma independiente (si la capa intermedia los envia aparte de los asegurados)
		IF (@beneficiarios IS NOT NULL AND ISJSON(@beneficiarios) = 1)
		BEGIN
			INSERT INTO dbo.TMEMISION_PERSONAS_GENERAL_BENF
			(
				id, nbeneficiario, cnpoliza, cramo, cplan,
				icedula_beneficiario, xrif_beneficiario, xnombre_beneficiario, xapellido_beneficiario,
				isexo_beneficiario, iestado_civil_beneficiario, fnac_beneficiario, cestado_beneficiario,
				cciudad_beneficiario, xdireccion_beneficiario, xtelefono_beneficiario, xcorreo_beneficiario,
				nparentesco_beneficiario, pporce_beneficiario
			)
			SELECT
				@id,
				ROW_NUMBER() OVER (ORDER BY TRY_CONVERT(INT, j.[key]), j.[key]),
				@cnpoliza, @cramo, @cplan,
				COALESCE(b.tipo_cedula_beneficiario_v1, b.tipo_cedula_beneficiario_v2, 'V'),
				COALESCE(b.rif_beneficiario_v1, b.rif_beneficiario_v2),
				COALESCE(b.nombre_beneficiario_v1, b.nombre_beneficiario_v2),
				COALESCE(b.apellido_beneficiario_v1, b.apellido_beneficiario_v2),
				COALESCE(b.sexo_beneficiario_v1, b.sexo_beneficiario_v2),
				COALESCE(b.estado_civil_beneficiario_v1, b.estado_civil_beneficiario_v2),
				b.fnac_beneficiario,
				b.estado_beneficiario,
				b.ciudad_beneficiario,
				b.direccion_beneficiario,
				b.telefono_beneficiario,
				b.correo_beneficiario,
				b.nparentesco_beneficiario,
				b.pporce_beneficiario
			FROM OPENJSON(
				CASE WHEN LEFT(LTRIM(@beneficiarios), 1) = '[' THEN @beneficiarios ELSE CONCAT('[', @beneficiarios, ']') END
			) j
			CROSS APPLY OPENJSON(j.value)
			WITH
			(
				tipo_cedula_beneficiario_v1  char(1)        '$.tipo_cedula_beneficiario',
				rif_beneficiario_v1          numeric(11, 0) '$.rif_beneficiario',
				nombre_beneficiario_v1       varchar(250)   '$.nombre_beneficiario',
				apellido_beneficiario_v1     varchar(250)   '$.apellido_beneficiario',
				sexo_beneficiario_v1         char(1)        '$.sexo_beneficiario',
				estado_civil_beneficiario_v1 char(1)        '$.estado_civil_beneficiario',

				tipo_cedula_beneficiario_v2  char(1)        '$.icedula_beneficiario',
				rif_beneficiario_v2          numeric(11, 0) '$.xrif_beneficiario',
				nombre_beneficiario_v2       varchar(250)   '$.xnombre_beneficiario',
				apellido_beneficiario_v2     varchar(250)   '$.xapellido_beneficiario',
				sexo_beneficiario_v2         char(1)        '$.isexo_beneficiario',
				estado_civil_beneficiario_v2 char(1)        '$.iestado_civil_beneficiario',

				fnac_beneficiario            date           '$.fnac_beneficiario',
				estado_beneficiario          INT            '$.estado_beneficiario',
				ciudad_beneficiario          INT            '$.ciudad_beneficiario',
				direccion_beneficiario       varchar(1000)  '$.direccion_beneficiario',
				telefono_beneficiario        varchar(250)   '$.telefono_beneficiario',
				correo_beneficiario          varchar(250)   '$.correo_beneficiario',
				nparentesco_beneficiario     INT            '$.nparentesco_beneficiario',
				pporce_beneficiario          numeric(13, 2) '$.pporce_beneficiario'
			) b
		END

		UPDATE dbo.TMEMISION_PERSONAS_GENERAL
		SET iestado = 1, xestado = 'VALIDADO'
		WHERE id = @id

		COMMIT TRANSACTION;
	END TRY
	BEGIN CATCH
		IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;

		SET @error = ERROR_MESSAGE()

		IF @id IS NOT NULL
		BEGIN
			UPDATE dbo.TMEMISION_PERSONAS_GENERAL
			SET iestado = -1, xestado = 'ERROR_VALIDACION', xlog = @error
			WHERE id = @id
		END

		THROW;
	END CATCH

	-- Enruta hacia el motor transaccional indicando explicitamente que es una emision colectiva.
	-- sp_emision_Personas_General vuelve a evaluar @itipopol y despacha a sp_emision_Personas_General_Colectivo.
	EXEC dbo.sp_emision_Personas_General @id = @id, @itipopol = 'C'
END
GO

PRINT 'OK: Stored Procedure sp_pre_emision_Personas_General_Colectivo compilado exitosamente.';
GO
