USE [Sis2000]
GO
/****** Objeto: StoredProcedure [dbo].[sp_pre_emision_Personas_General] Fecha de script: 1/10/2026 12:54:53 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROCEDURE [dbo].[sp_pre_emision_Personas_General]
    @id int = NULL,
    @cnpoliza_rel varchar(30) = NULL,
    @cplan varchar(10) = NULL,
    @cramo int = NULL,
    @xcanal_venta varchar(250) = NULL,
    @icedula_tomador char(1) = NULL,
    @xrif_tomador numeric(9) = NULL,
    @xnombre_tomador varchar(250) = NULL,
    @xapellido_tomador varchar(250) = NULL,
    @isexo_tomador char(1) = NULL,
    @iestado_civil_tomador char(1) = NULL,
    @fnac_tomador datetime = NULL,
    @cestado_tomador varchar(100) = NULL,
    @cciudad_tomador varchar(100) = NULL,
    @xdireccion_tomador varchar(1000) = NULL,
    @xtelefono_tomador varchar(250) = NULL,
    @xcorreo_tomador varchar(250) = NULL,
    @icedula_titular char(1) = NULL,
    @xrif_titular numeric(9) = NULL,
    @xnombre_titular varchar(250) = NULL,
    @xapellido_titular varchar(250) = NULL,
    @isexo_titular char(1) = NULL,
    @iestado_civil_titular char(1) = NULL,
    @fnac_titular datetime = NULL,
    @cestado_titular varchar(100) = NULL,
    @cciudad_titular varchar(100) = NULL,
    @xdireccion_titular varchar(1000) = NULL,
    @xtelefono_titular varchar(250) = NULL,
    @xcorreo_titular varchar(250) = NULL,
    @cpersona_politica char(1) = NULL,
    @cterm_y_cod char(1) = NULL,
    @cdiagnos_enferm char(1) = NULL,
    @xdiagnos_enferm varchar(1000) = NULL,
    @cproductor int = NULL,
    @ptasamon numeric(18,6) = NULL,
    @cmoneda char(4) = NULL,
    @msumaaseg numeric(18,2) = NULL,
    @mprimaext numeric(18,2) = NULL,
    @ifrecuencia char(1) = NULL,
    @femision datetime = NULL,
    @fdesde date = NULL,
    @fhasta date = NULL,
    @corigen_rel CHAR(2) = NULL,
    @api varchar(100) = NULL,
    @method varchar(100) = NULL,
    @cprog char(20) = NULL,
    @ifuente char(10) = NULL,
    @fingreso datetime = NULL,
    @cpoliza NUMERIC(19) = NULL,
    @cnpoliza varchar(30) = NULL,
    @cproces NUMERIC(13) = NULL,
    @ccanalalt int = NULL,
    @cscanalalt int = NULL,
    @ctipocanal CHAR(1) = NULL,
    @asegurados NVARCHAR(MAX) = NULL,
    @beneficiarios NVARCHAR(MAX) = NULL,
    @itipopol CHAR(1) = 'I'
AS
BEGIN

    SET NOCOUNT ON;

    -- ENRUTADOR: las polizas colectivas tienen su propio flujo de staging, dedicado a pcplanes/pcasegurados.
    -- El flujo individual que sigue a continuacion permanece intacto.
    IF (@itipopol = 'C')
    BEGIN
        EXEC dbo.sp_pre_emision_Personas_General_Colectivo
            @id = @id OUTPUT,
            @cnpoliza_rel = @cnpoliza_rel,
            @cplan = @cplan,
            @cramo = @cramo,
            @xcanal_venta = @xcanal_venta,
            @icedula_tomador = @icedula_tomador,
            @xrif_tomador = @xrif_tomador,
            @xnombre_tomador = @xnombre_tomador,
            @xapellido_tomador = @xapellido_tomador,
            @isexo_tomador = @isexo_tomador,
            @iestado_civil_tomador = @iestado_civil_tomador,
            @fnac_tomador = @fnac_tomador,
            @cestado_tomador = @cestado_tomador,
            @cciudad_tomador = @cciudad_tomador,
            @xdireccion_tomador = @xdireccion_tomador,
            @xtelefono_tomador = @xtelefono_tomador,
            @xcorreo_tomador = @xcorreo_tomador,
            @icedula_titular = @icedula_titular,
            @xrif_titular = @xrif_titular,
            @xnombre_titular = @xnombre_titular,
            @xapellido_titular = @xapellido_titular,
            @isexo_titular = @isexo_titular,
            @iestado_civil_titular = @iestado_civil_titular,
            @fnac_titular = @fnac_titular,
            @cestado_titular = @cestado_titular,
            @cciudad_titular = @cciudad_titular,
            @xdireccion_titular = @xdireccion_titular,
            @xtelefono_titular = @xtelefono_titular,
            @xcorreo_titular = @xcorreo_titular,
            @cpersona_politica = @cpersona_politica,
            @cterm_y_cod = @cterm_y_cod,
            @cdiagnos_enferm = @cdiagnos_enferm,
            @xdiagnos_enferm = @xdiagnos_enferm,
            @cproductor = @cproductor,
            @ptasamon = @ptasamon,
            @cmoneda = @cmoneda,
            @msumaaseg = @msumaaseg,
            @mprimaext = @mprimaext,
            @ifrecuencia = @ifrecuencia,
            @femision = @femision,
            @fdesde = @fdesde,
            @fhasta = @fhasta,
            @corigen_rel = @corigen_rel,
            @api = @api,
            @method = @method,
            @cprog = @cprog,
            @ifuente = @ifuente,
            @fingreso = @fingreso,
            @cpoliza = @cpoliza OUTPUT,
            @cnpoliza = @cnpoliza OUTPUT,
            @cproces = @cproces OUTPUT,
            @ccanalalt = @ccanalalt,
            @cscanalalt = @cscanalalt,
            @ctipocanal = @ctipocanal,
            @asegurados = @asegurados,
            @beneficiarios = @beneficiarios
        RETURN;
    END

    DECLARE @pcomision numeric(9, 2), @qcontador numeric(18, 0), @POL_RAMO VARCHAR(20),
        @minedad char(3), @maxedad char(3), @error VARCHAR(200),
        @cnrecibo varchar(50), @crecibo numeric(19), @csucur int, @cpoliza_ou numeric(19), @cnpoliza_ou varchar(20), @cproces_ou numeric(19),
        @iestado INT, @xestado VARCHAR(30), @xlog VARCHAR(1000)

    -- SI EL PRODUCTOR ES "DIRECTO" Y RECIBE "0"
    IF @cproductor = 0 BEGIN
        SELECT @cproductor = 80080
    END
        
    IF @cramo IS NULL BEGIN
        SELECT @cramo = cramo from maplanes_per WHERE cplan = @cplan and iestado = 'V'
    END

        
    -- EJECUTA SP DE VALIDACIÓN PARA EMISIONES
    EXEC speeValidatePersonGeneral @cramo, @cplan, @femision, @fdesde, @fhasta, @xrif_titular, @fnac_titular

    IF @cproductor = 0 BEGIN
        SELECT @cproductor = 80080
    END

    IF @ccanalalt is not null BEGIN
        SELECT @csucur = COALESCE(csucur,1) from macanalalt where ccanalalt = @ccanalalt
    END ELSE BEGIN
        SELECT @csucur = COALESCE(csucur,1) from maproduc where cproductor = @cproductor
    END

    IF (@cramo = 1)  SELECT @POL_RAMO = 'POL_VIDA'
    IF (@cramo = 5)  SELECT @POL_RAMO = 'POL_ACC'
    IF (@cramo = 7)  SELECT @POL_RAMO = 'POL_SALUD'
    IF (@cramo = 9)  SELECT @POL_RAMO = 'POL_FUN'
    IF (@cramo > 9)  SELECT @POL_RAMO = 'POLIZA'
    
    EXEC spContador_v1 @cpoliza OUTPUT, @cnpoliza OUTPUT, @crecibo OUTPUT, @cnrecibo OUTPUT, @cproces OUTPUT , @csucur, @fdesde, @cramo, @POL_RAMO

    INSERT INTO TMEMISION_PERSONAS_GENERAL
        (
        cnpoliza_rel, cplan, cramo, xcanal_venta, icedula_tomador,
        xrif_tomador, xnombre_tomador, xapellido_tomador, isexo_tomador, iestado_civil_tomador, fnac_tomador, cestado_tomador,
        cciudad_tomador, xdireccion_tomador, xtelefono_tomador, xcorreo_tomador, icedula_titular, xrif_titular, xnombre_titular,
        xapellido_titular, isexo_titular, iestado_civil_titular, fnac_titular, cestado_titular, cciudad_titular,
        xdireccion_titular, xtelefono_titular, xcorreo_titular, 
        cpersona_politica, cterm_y_cod, cdiagnos_enferm, xdiagnos_enferm,
        cproductor, ptasamon, msumaaseg, mprimaext, ifrecuencia, femision, fdesde, fhasta,
        corigen_rel, api, method, cprog,
        ifuente, fingreso, cpoliza, cnpoliza, cproces, ccanalalt, cscanalalt, ctipocanal, iestado, xestado, xlog
        )
    SELECT
        @cnpoliza_rel, @cplan, @cramo, @xcanal_venta, @icedula_tomador,
        @xrif_tomador, @xnombre_tomador, @xapellido_tomador, @isexo_tomador, @iestado_civil_tomador, @fnac_tomador,
        @cestado_tomador, @cciudad_tomador, @xdireccion_tomador, @xtelefono_tomador, @xcorreo_tomador, @icedula_titular,
        @xrif_titular, @xnombre_titular, @xapellido_titular, @isexo_titular, @iestado_civil_titular, @fnac_titular,
        @cestado_titular, @cciudad_titular, @xdireccion_titular, @xtelefono_titular, @xcorreo_titular,  
        @cpersona_politica, @cterm_y_cod, @cdiagnos_enferm, @xdiagnos_enferm,
        @cproductor, @ptasamon, @msumaaseg,
        @mprimaext, @ifrecuencia, @femision, @fdesde, @fhasta,
        @corigen_rel, @api, @method, @cprog, 
        @ifuente, @fingreso, @cpoliza, @cnpoliza, @cproces, @ccanalalt, @cscanalalt, @ctipocanal, @iestado, @xestado, @xlog 

    SET @id = SCOPE_IDENTITY()

    -- ==========================================
    -- PROCESAMIENTO DE ASEGURADOS (AMBOS FORMATOS)
    -- ==========================================
    IF (@asegurados IS NOT NULL AND ISJSON(@asegurados) = 1)
    BEGIN
        INSERT INTO TMEMISION_PERSONAS_GENERAL_ASEG
        (
            id,
            nasegurado,
            cnpoliza,
            cramo,
            cplan,
            icedula_asegurado,
            xrif_asegurado,
            xnombre_asegurado,
            xapellido_asegurado,
            isexo_asegurado,
            iestado_civil_asegurado,
            fnac_asegurado,
            cestado_asegurado,
            cciudad_asegurado,
            xdireccion_asegurado,
            xtelefono_asegurado,
            xcorreo_asegurado,
            nparentesco_asegurado,
            npeso_asegurado,
            nestatura_asegurado
        )
        SELECT
            @id,
            ROW_NUMBER() OVER (ORDER BY TRY_CONVERT(INT, j.[key]), j.[key]),
            @cnpoliza,
            @cramo,
            @cplan,
            COALESCE(a.tipo_cedula_asegurado_v1, a.tipo_cedula_asegurado_v2),
            COALESCE(a.rif_asegurado_v1, a.rif_asegurado_v2),
            COALESCE(a.nombre_asegurado_v1, a.nombre_asegurado_v2),
            COALESCE(a.apellido_asegurado_v1, a.apellido_asegurado_v2),
            COALESCE(a.sexo_asegurado_v1, a.sexo_asegurado_v2),
            COALESCE(a.estado_civil_asegurado_v1, a.estado_civil_asegurado_v2),
            a.fnac_asegurado,
            a.estado_asegurado,
            a.ciudad_asegurado,
            a.direccion_asegurado,
            a.telefono_asegurado,
            a.correo_asegurado,
            a.nparentesco_asegurado,
            a.npeso_asegurado,
            a.nestatura_asegurado
            
        FROM OPENJSON(
            CASE
                WHEN LEFT(LTRIM(@asegurados), 1) = '[' THEN @asegurados
                ELSE CONCAT('[', @asegurados, ']')
            END
        ) j
        CROSS APPLY OPENJSON(j.value)
        WITH
        (
            -- Formato 1 (Nombres cortos)
            tipo_cedula_asegurado_v1  char(1)         '$.tipo_cedula_asegurado',
            rif_asegurado_v1          numeric(11,0)   '$.rif_asegurado',
            nombre_asegurado_v1       varchar(250)    '$.nombre_asegurado',
            apellido_asegurado_v1     varchar(250)    '$.apellido_asegurado',
            sexo_asegurado_v1         char(1)         '$.sexo_asegurado',
            estado_civil_asegurado_v1 char(1)         '$.estado_civil_asegurado',

            -- Formato 2 (Nombres con prefijo i / x / iestado_civil)
            tipo_cedula_asegurado_v2  char(1)         '$.icedula_asegurado',
            rif_asegurado_v2          numeric(11,0)   '$.xrif_asegurado',
            nombre_asegurado_v2       varchar(250)    '$.xnombre_asegurado',
            apellido_asegurado_v2     varchar(250)    '$.xapellido_asegurado',
            sexo_asegurado_v2         char(1)         '$.isexo_asegurado',
            estado_civil_asegurado_v2 char(1)         '$.iestado_civil_asegurado',

            -- Campos comunes en ambos formatos
            fnac_asegurado            date            '$.fnac_asegurado',
            estado_asegurado          INT             '$.estado_asegurado',
            ciudad_asegurado          INT             '$.ciudad_asegurado',
            direccion_asegurado       varchar(1000)  '$.direccion_asegurado',
            telefono_asegurado        varchar(250)   '$.telefono_asegurado',
            correo_asegurado          varchar(250)   '$.correo_asegurado',
            nparentesco_asegurado     varchar(250)   '$.nparentesco_asegurado',
            npeso_asegurado           numeric(6,2)    '$.npeso_asegurado',
            nestatura_asegurado       numeric(8,2)    '$.nestatura_asegurado'
        ) a;
    END

    -- ==========================================
    -- PROCESAMIENTO DE BENEFICIARIOS (AMBOS FORMATOS)
    -- ==========================================
    IF (@beneficiarios IS NOT NULL AND ISJSON(@beneficiarios) = 1)
    BEGIN
        INSERT INTO TMEMISION_PERSONAS_GENERAL_BENF
        (
            id,
            nbeneficiario,
            cnpoliza,
            cramo,
            cplan,
            icedula_beneficiario,
            xrif_beneficiario,
            xnombre_beneficiario,
            xapellido_beneficiario,
            isexo_beneficiario,
            iestado_civil_beneficiario,
            fnac_beneficiario,
            cestado_beneficiario,
            cciudad_beneficiario,
            xdireccion_beneficiario,
            xtelefono_beneficiario,
            xcorreo_beneficiario,
            nparentesco_beneficiario,
            pporce_beneficiario
        )
        SELECT
            @id,
            ROW_NUMBER() OVER (ORDER BY TRY_CONVERT(INT, j.[key]), j.[key]),
            @cnpoliza,
            @cramo,
            @cplan,
            COALESCE(b.tipo_cedula_beneficiario_v1, b.tipo_cedula_beneficiario_v2),
            COALESCE(b.rif_beneficiario_v1, b.rif_beneficiario_v2),
            COALESCE(b.nombre_beneficiario_v1, b.nombre_beneficiario_v2),
            COALESCE(b.apellido_beneficiario_v1, b.apellido_beneficiario_v2),
            COALESCE(b.sexo_beneficiario_v1, b.sexo_beneficiario_v2),
            COALESCE(b.estado_civil_beneficiario_v1, b.estado_civil_beneficiario_v2),
            b.fnac_beneficiario,
            b.estado_beneficiario,
            b.ciudad_beneficiario,
            b.direccion_beneficiario,
            b.telefono_beneficiario,
            b.correo_beneficiario,
            b.nparentesco_beneficiario,
            b.pporce_beneficiario
        FROM OPENJSON(
            CASE
                WHEN LEFT(LTRIM(@beneficiarios), 1) = '[' THEN @beneficiarios
                ELSE CONCAT('[', @beneficiarios, ']')
            END
        ) j
        CROSS APPLY OPENJSON(j.value)
        WITH
        (
            -- Formato 1 (Nombres cortos)
            tipo_cedula_beneficiario_v1  char(1)         '$.tipo_cedula_beneficiario',
            rif_beneficiario_v1          numeric(11,0)   '$.rif_beneficiario',
            nombre_beneficiario_v1       varchar(250)    '$.nombre_beneficiario',
            apellido_beneficiario_v1     varchar(250)    '$.apellido_beneficiario',
            sexo_beneficiario_v1         char(1)         '$.sexo_beneficiario',
            estado_civil_beneficiario_v1 char(1)         '$.estado_civil_beneficiario',

            -- Formato 2 (Nombres con prefijo i / x / iestado_civil)
            tipo_cedula_beneficiario_v2  char(1)         '$.icedula_beneficiario',
            rif_beneficiario_v2          numeric(11,0)   '$.xrif_beneficiario',
            nombre_beneficiario_v2       varchar(250)    '$.xnombre_beneficiario',
            apellido_beneficiario_v2     varchar(250)    '$.xapellido_beneficiario',
            sexo_beneficiario_v2         char(1)         '$.isexo_beneficiario',
            estado_civil_beneficiario_v2 char(1)         '$.iestado_civil_beneficiario',

            -- Campos comunes
            fnac_beneficiario            date            '$.fnac_beneficiario',
            estado_beneficiario          INT             '$.estado_beneficiario',
            ciudad_beneficiario          INT             '$.ciudad_beneficiario',
            direccion_beneficiario       varchar(1000)  '$.direccion_beneficiario',
            telefono_beneficiario        varchar(250)   '$.telefono_beneficiario',
            correo_beneficiario          varchar(250)   '$.correo_beneficiario',
            nparentesco_beneficiario     varchar(250)   '$.nparentesco_beneficiario',
            pporce_beneficiario          numeric(13,2)   '$.pporce_beneficiario'
        ) b;
    END

    EXEC sp_emision_Personas_General @id = @id

END;
